<div id="admin_home_main_container">
    {{!-- The User Settings Bar--}}
    {{#if user}}
    {{!-- The blue user model --}}
    <div id="profile_icon"></div>
    <div id="profile_settings_modal">
        <div id="inner_profile_modal">
            <div>
                <ul>
                    <li id="profile_settings_username">{{user.username}}</li>
                    <li> <a href="#">Profile</a> </li>
                    <li> <a href="#">Settings</a> </li>
                </ul>
            </div>
        </div>
    </div>
    {{/if}}
    
    <div id="home_admin_container">
        {{#if users}}
            <div id="all_users_section">
                <div id="inner_users_section">
                    <div id="all_user_hat">
                        <p>Users</p>
                    </div>
                    <ul id="all_users_ul">
                        {{#each users}}
                            <div class="eachuser">
                                <img src="/images/profile.png">
                                <li>{{username}}</li>
                            </div>
                        {{/each}}
                    </ul>
                    <div>
                        <button id="invite_users_btn">Invite</button>
                    </div>
                </div>
            </div>
        {{/if}} 
    </div>
</div>

{{!-- The invitation link gen modal --}}
<div id="gen_link_model">
    <div id="inner_gen_link">
        <span id="get_link_close">&times;</span>
        <p id="gen_link_header">Click on the button to generate the invitation link</p>
        <div id="gen_link_form">
            <input id="link_gen_input" type="text" id="links" value="" readonly>
            <div id="copy_sign"><p>copy</p></div>
        </div>
        <div>
            <button id="generate_link_btn">Generate Link</button>
        </div>
    </div>
</div>
