<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style_h.css">
    <script src="/js/main.js"></script>
  </head>
  <body onclick="hideProfile()">
    <header>
      <div class="header">
{{#if user}}
<div class="outside_p" >
  <div class="inside_p">
  <div id="profile" onmouseover="openProfile()" onclick="showProfile()">
  </div>
  <div id="username1" >
    <p>{{user.username}}</p>
  </div>
    <div id="menu">
        <ul>
        <li><a href="#">Profile</li><a>
        <li><a href="#">Settings</li><a>
        </ul>
        </div>

 </div>
  </div>

    {{/if}}
<div id="nav" onmouseover="closeProfile()" >
        <nav>
          <ul>
            <li><a href="/users/home">Home</a></li>
            {{#if user}}
            <li href="#"> Admin panel</li>
            <li><a href="/users/logout"> Logout</a></li>
            {{else}}
            <li><a href="/">Register</a></li>
              <li id="btn2" onclick="openModal()"><a>Login</a></li>
              {{/if}}
          </ul>
        </nav>
      </div>
    </div>
    </header>
<div class="container" onmouseover="closeProfile()">
  <div id="everything">
  <div class="footer">
    <footer> &copy; 2018 The Invitations Center</footer>
  </div>
</div>
<div class="around" id="modal">
      <div class=inside>
      <div class="header1">
        <span class="closeBtn" onclick="closeModal()">&times;</span>
        <p>Sign-in</p>
      </div>
      <form method="post" action="/users/login" class="signin_form">
        <div class="input1">
      <input class="username" type="text" name="username" placeholder="Username or E-mail">
    </div>
    <div class="input2">
      <input class="password" type="password" name="password" placeholder="Password">
      </div>
      <button class="btn3" name="submit"> Login</button>
    </form>
    </div>
    </div>
    </div>
</body>
</html>
