<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style_r.css">
    <title></title>
  </head>
  <body>
    <div class='pattern'>
      <img src="/images/pattern.jpg">
    </div>
    <header>
      <div class="header">
    <div id="nav">
      <nav>
        <ul>
          <li><a href="/users/home">Home</a></li>
          <li><a href="/">Register</a></li>
          <li id="btn2"><a href="/users/login">Login</a></li>
        </ul>
      </nav>
    </div>
      <header>
      </div>
<div class="container">
     <p> Home view: nothing here yet</p>
  </div>
  <div class="footer">
  <footer> &copy; 2018 The Invitations Center</footer>
</div>
   </body>
</html>
