<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style_h.css">
  </head>
<body>
<div class="blur" id="blur">
<header>
 <div class="header" id="test">
   {{#if user}}
    <div class="outside_p"  id="menu">
     <div class="inside_p">
      <div>
        <ul>
          <li id="first">{{user.username}}</li>
          <li><a href="#">Profile</li><a>
          <li><a href="#">Settings</li><a>
        </ul>
      </div>
     </div>
    </div>
   <div id="profile">
   </div>
  {{/if}}
 <div id="nav">
    <nav>
     <ul>
       <li><a href="/users/home">Home</a></li>
    {{#if user}}
       <li> <a href="/users/admin"> Admin panel</a></li>
       <li id="logout_button"><a href="/users/logout"> Logout</a></li>
     {{else}}
       <li><a href="/">Register</a></li>
       <li id="btn2"><a>Login</a></li>
    {{/if}}
     </ul>
   </nav>
  </div>
 </div>
</header>
 <div class="container">
    <!-- Start of LiveChat (www.livechatinc.com) code -->
  <script type="text/javascript">
    window.__lc = window.__lc || {};
    window.__lc.license = 9685380;
    (function() {
    var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
    lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
     })();
  </script>
<!-- End of LiveChat code -->
 <div class="footer">
   <footer> &copy; 2018 The Invitations Center
   </footer>
 </div>
</div>
</div>

 <div class="around" id="modal">
  <div class=inside>
   <div class="header1">
    <span class="closeBtn" id="closeBtn">&times;</span>
    <p>Sign-in</p>
    </div>
    <form method="post" action="/users/login" class="signin_form">
     <div class="input1">
      <input class="username" type="text" name="username" placeholder="Username or E-mail">
     </div>
     <div class="input2">
      <input class="password" type="password" name="password" placeholder="Password">
     </div>
      <button class="btn3" name="submit"> Login</button>
     </form>
   </div>
 </div>

    <script src="/js/main.js"></script>
</body>
</html>
