<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style_r.css">
    <title></title>
  </head>
  <body>
    <div class='pattern'>
      <img src="/images/pattern.jpg">
    </div>
    <header>
      <div class="header">
    <div id="nav">
      <nav>
        <ul>
          <li><a href="/users/home">Home</a></li>
          <li><a href="/">Register</a></li>
          <li id="btn2"><a href="/users/login">Login</a></li>
        </ul>
      </nav>
    </div>
      <header>
      </div>
<div class="container">
     <div id="box1">
         <p id="header"> The Invitation center</p>
         <p id="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
     </div>

     <div id="box2">
<form class="reg_form">
          <p id="account"> Create an account</p>
          <div>
             <input type="e-mail" placeholder="E-mail">
       </div>
       <div>
           <input id="name1" type="text" placeholder="Name">
         </div>
       <div>
         <input id="surname" type="text" placeholder="Surname">
       </div>
      <div>
        <input type="password" placeholder="Password">
      </div>
      <div>
        <input type="password" placeholder="Password Confirmation">
      </div>
      <div>
      <button type="submit"> Register</button>
      </div>
      <div id="existing">
        <p> Already have an account? <a href="/users/login">Login</a><p>
      </div>
      </form>
    </div>
    <div class="footer">
    <footer> &copy; 2018 The Invitations Center</footer>
  </div>
  </div>
   </body>
</html>
