

<div id="index_container">

    {{!-- Main background image --}}
    <div class='background_main'></div>
    {{!-- Main welcome container--}}
    <div id="welcome_container">
        <p id="welcome_container_header"> The Invitation center</p>
        <p id="inner_welc_text"> 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>

    {{!-- Main registration container --}}
    <div id="reg_container">
        <form class="reg_form" method="post" action="/users/register">
            <p id="reg_form_header"> Create an account</p>
            <div><input name="email" type="e-mail" placeholder="E-mail" required></div>
            <div> <input name='name' type="text" id="reg_name" placeholder="Name"></div>
            <div><input name="username"  type="text" id="reg_username" placeholder="Username" required></div>
            <div><input name="password" type="password" placeholder="Password" required></div>
            <div><input name="passwordConfirm" type="password" placeholder="Password Confirmation" required></div>
            <div> <button type='submit'> Register</button></div>
            <div id="reg_existing_acc_link">
                Already have an account?
                <a id="reg_exiting_acc_login">Login</a>
            </div>
        </form>
    </div>
</div>
