<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_i.css">
    <title>Invitation</title>
  </head>
  <body>
    <header id="header">
    <p> </p>
    </header>
    <div class="container">
      <div id="invite">
        <div id="text">
        <p> Congratulations! <span id='span'> You got invited! <span> </p>
      <a href="/">  <button class="btn"> Register</button></a>
      </div>
    </div>
    <footer> &copy; 2018 The Invitations Center</footer>
</body>
</html>
