

<link rel="stylesheet" href="/css/invitation/invitation.css">

<div class="container">
    <div id="invite">
        <div id="text">
          <p> Congratulations!
            <span id='span'> You got invited! <span>
          </p>
          <a href="/"> Register</button></a>
        </div>
    </div>
</div>