/* Admin panel styles */
#all_users_section{
    background-color:#E8E8E8;
    z-index: 1;
    margin: 80px 0 0px 40px;
    width: 27%;
    height: 505px;
    overflow: hidden;
    border-radius: 10px;
    box-sizing: border-box;
}

#all_user_hat{
    width: 100%;
    background-color: #457fbb;
    color: #fff;
    padding: 10px 0 10px 0;
    font-size: 30px;
}

#all_users_ul{
    overflow-y: scroll;
    height: 380px;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.eachuser {
    border-bottom: 1px solid #BEBEBE;
    padding: 8px 0px 0px 15px;
    height: 64px;
}

.eachuser li{
    list-style: none;
    position: relative;
    top: 23px;
    left: 10%;

}

.eachuser img{
    float: left;
    margin: 10px 0 0 10px;
}

#invite_users_btn{
    font-family:sans-serif;
    line-height: 1.6em;
    background-color:#457fbb;
    color: #fff;
    padding: 8px 40px;
    font-size: 19px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 2px 0 0 33%;
}

#invite_users_btn:hover{
    background-color: #376ba0;
    cursor: pointer;
}
