/* Error and Success flash messages */
.success_modal,
.err_modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    font-family: Arial;
}


.err_message,
.success_message{
    animation-name: modalopen;
    animation-duration: 1s;
    overflow: hidden;
    padding: 1%;
    text-align: center;
    background-color: #fff;
    margin: 20% auto;
}


.err_message {
    color: #900000;
    border: 2px solid rgba(144, 0, 0, 0.3);
    border-radius: 10px;
    width: 23%;
    font-size: 16px;
    animation: shake 0.2s;
    box-shadow: 2px 9px 8px 0 rgba(255, 0, 0, 0.3), 2px 7px 20px 0 rgba(255, 0, 0, 0.3);
    position: relative;
    top: 20%;
}


.success_message {
    color: #228B22;
    font-family: Verdana;
    border: 2px solid rgba(50, 205, 50, 0.3);
    border-radius: 10px;
    width: 25%;
    font-size: 17px;
    box-shadow: 2px 9px 8px 0 rgba(50, 205, 50, 0.3), 2px 7px 20px 0 rgba(50, 205, 50, 0.3);
}

.err_message,
.success_msg_text{
    margin: 20px 0 15px 0;
}


.suc_login_btn {
    background-color: #32CD32;
    color: #fff;
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
}


#pass_link{
    display: none;
}


@keyframes shake {
    0% {
        left: 0px;
    }
    20% {
        left: -15px;
    }
    30% {
        left: 0px;
    }
    40% {
        left: 15px;
    }
    60% {
        left: 0px;
    }
    80% {
        left: -15px;
    }
    100% {
        left: 0px;
    }
}

