
/* Validation of passwords */

#pass_short_err,
#pass_not_equal_err,
#no_credent_err{
    display: none;
    color: #f83737;
    font-size: 15px;
    position: absolute;
}

#pass_short_err{
    top: 17%;
    left: 10%;
}

#no_credent_err{
    top: 16.8%;
    left: 16%;
}

#pass_not_equal_err{
    top: 37%;
    left: 15%;
}


#pass_equal,
#pass_success{
    display: none;
    color: #2ac250;
    font-size: 15px;
    position: absolute;
}

#pass_success{
    top: 17%;
    left: 16%;
}


#pass_equal{
    top: 37%;
    left: 16%;
}

