/* The generate invitation link modal */

#gen_link_model {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    text-align: center;
}

#inner_gen_link {
    background-color: #e8e7e7;
    margin: 13% auto;
    width: 30%;
    height: 220px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    animation-name: open_link_gen;
    animation-duration: 1s;
    overflow: hidden;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px 0 0 0px;
}


#get_link_close {
    float: right;
    color: #C0C0C0;
    font-size: 25px;
    position: relative;
    top: -20px;
    right: 15px;
}

#get_link_close:hover {
    color: #696969;
    cursor: pointer;
}

#gen_link_header{
    margin: 10px 0 10px 0;
    font-size: 22px;
}

#gen_link_form{
    position: relative;
}

#link_gen_input {
    width: 95%;
    padding: 10px 11px 10px 37px;
    font-size: 16px;
    border: none;
    color:#6d6969;
    border-radius: 5px;
    box-sizing: border-box;
}


#copy_sign {
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 2px;
    width: 18px;
    height: 20px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 24%;
    left: 5%;
}


#copy_sign p {
    font-size: 7px;
    color: #bbb8b8;
    position: relative;
    top: -2px;
}

#copy_sign:hover {
    border: 1px solid rgb(163, 163, 163);
    color: rgb(163, 163, 163);
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

#copy_sign p:hover {
    color: rgb(163, 163, 163);
}

#generate_link_btn {
    margin-top: 15px; 
    padding: 10px 25px;
    background-color: rgb(236, 91, 164);
    color: #fff;
    border-radius: 5px;
    font-size: 19px;
    outline: none;
    transition: background 0.5s ease-in-out;
}

#generate_link_btn:hover {
    background-color: #fb98ca;
    cursor: pointer;
}


@keyframes open_link_gen {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}